# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  android: circleci/android@3.0.2

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  unit-test:
    executor:
      name: android/android_docker
      resource_class: large
      tag: 2024.07.1-ndk
    steps:
      - checkout
      - run:
          name: "litewallet-android unit test setup..."
          command: "echo Building tests for litewallet-android! && ls"
      - run:
          name: "Default for gradle.properties"
          command: "echo \"RELEASE_STORE_FILE=/\nRELEASE_STORE_PASSWORD=\nRELEASE_KEY_ALIAS=\nRELEASE_KEY_PASSWORD=\nandroid.useAndroidX=true\nandroid.enableJetifier=true\" >> gradle.properties && ls && cat gradle.properties"
      - run:
          name: "Initialize submodule"
          command: "git submodule init && git submodule update --init --recursive"
      - run:
          name: "Export google-services.json to env"
          command: echo 'export $GOOGLE_SERVICES_JSON="$GOOGLE_SERVICES_JSON"' >> $BASH_ENV
      - run:
          name: "decode $GOOGLE_SERVICES_JSON to google-services.json"
          command: echo "$GOOGLE_SERVICES_JSON" | base64 --decode > app/google-services.json
      - android/restore_gradle_cache
      - run:
          name: "Execute Unit Test"
          command: ./gradlew testLitewalletDebugUnitTest
      - android/save_gradle_cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit


# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  test-and-build:
    jobs:
      - unit-test
